<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.NoticeManageMapper">

    <!--获取评论信息-->
    <select id="getNoticeManage"  resultType="object" >
        SELECT
          nid,
          title,
          content
        FROM notice_manage
        WHERE status=0
         and source=2
        order by create_time desc
        limit 5
    </select>

    <!--酒店活动-->
    <select id="getActivityHotelCoupon"  resultType="object" >
        SELECT
          *
        FROM activity_hotel_coupon
        limit 5
    </select>

</mapper>